<v-ons-page id="hello">
  <div>
    <h1>Yokkaichi High School</h1>
    <p>Various ways to measure gravitational acceleration</p>
    <div class="btnWrap">
      <div class="japanese">
        <v-ons-button @click="tutorial">
          <div class="icon">あ</div>
          <div class="label">日本語</div>
        </v-ons-button>
      </div>
      <div class="english">
        <v-ons-button @click="goToEnglish">
          <div class="icon">A</div>
          <div class="label">English</div>
        </v-ons-button>
      </div>
    </div>
  </div>
</v-ons-page>
