<v-ons-page data-page="home">
  <custom-bar title="ホーム" backLabel="実験紹介"></custom-bar>
  <v-ons-list>
    <v-ons-list-item>
      <v-ons-button modifier="large" :disabled="loading" @click="claimSession">実験を始める</v-ons-button>
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx">
      実験方法の紹介
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="reference">
      参考文献
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="source">
      ソースコード
    </v-ons-list-item>
  </v-ons-list>
  <v-ons-alert-dialog modifier="rowfooter"
      :visible.sync="error"
    >
      <span slot="title">Failed</span>
      Failed to claim a session. Please retry after the other session ended.
      <template slot="footer">
        <v-ons-alert-dialog-button @click="error = false">Ok</v-ons-alert-dialog-button>
      </template>
    </v-ons-alert-dialog>
</v-ons-page>
