<v-ons-page id="otherExp">
  <custom-bar title="Other Experiments" backLabel="Home"></custom-bar>
  <v-ons-list>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx">
      Free fall with optical sensor
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx">
      Free fall with stopwatch & switch
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx">
      Atwood machine
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx">
      Aldebaran Eclipse
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx">
      Spring Pendulum
    </v-ons-list-item>
  </v-ons-list>
</v-ons-page>
