<v-ons-page id="otherExp">
  <custom-bar title="実験方法の紹介" backLabel="ホーム"></custom-bar>
  <v-ons-list>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx('ffOpt')">
      光センサーを用いた自由落下の実験
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx('ffSW')">
      ストップウォッチとスイッチを用いた自由落下の実験
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx('atwood')">
      アトウッドの器械を使った実験
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx('aldebaran')">
      アルデバラン食を利用した実験
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="otherEx('spring')">
      ばね振り子を使った実験
    </v-ons-list-item>
  </v-ons-list>
</v-ons-page>
