<v-ons-page id="reference">
  <custom-bar title="Reference" backLabel="Home"></custom-bar>
  <v-ons-list>
    <v-ons-list-item modifier="chevron tappable" @click="openUrl('http://eco.mtk.nao.ac.jp/cgi-bin/koyomi/skymap.cgi')">
      National Astronomical Observatory of Japan
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="openUrl('https://www.rikanenpyo.jp')">
      Chronological Scientific Tables
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="openUrl('http://etc.usf.edu/clipart/20000/20043/handball_20043.htm')">
      Hand and ball
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="openUrl('https://www.irasutoya.com/')">
      Illustration we borrowed
    </v-ons-list-item>
    
  </v-ons-list>
</v-ons-page>
