<v-ons-page id="reference">
  <custom-bar title="参考文献" backLabel="ホーム"></custom-bar>
  <v-ons-list>
    <v-ons-list-item modifier="chevron tappable" @click="openUrl('http://eco.mtk.nao.ac.jp/cgi-bin/koyomi/skymap.cgi')">
      国立天文台
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="openUrl('https://www.rikanenpyo.jp')">
      理科年表　平成28年版
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="openUrl('http://etc.usf.edu/clipart/20000/20043/handball_20043.htm')">
      Hand and ball
    </v-ons-list-item>
    <v-ons-list-item modifier="chevron tappable" @click="openUrl('https://www.irasutoya.com/')">
      お借りしたイラスト
    </v-ons-list-item>
    
  </v-ons-list>
</v-ons-page>
