<v-ons-page id="session">
  <v-ons-toolbar>
    <div class="left">
      <v-ons-toolbar-button @click="back">
        <v-ons-icon icon="ion-close"></v-ons-icon>
      </v-ons-toolbar-button>
    </div>
    <div class="center">On Session</div>
  </v-ons-toolbar>
  <v-ons-list>
    <v-ons-list-header>1. Turn on the electromagnet</v-ons-list-header>
    <v-ons-list-item><v-ons-button @click="turnOnMagnet" modifier="large" :disabled="state!==0">Turn On</v-ons-button></v-ons-list-item>
    <v-ons-list-header>2. Attach the iron ball to the hollow of the magnet</v-ons-list-header>
    <v-ons-list-item><v-ons-button @click="attached" modifier="large"  :disabled="state!==1">I attached</v-ons-button></v-ons-list-item>
    <v-ons-list-header>3. Drop the ball and time it falls</v-ons-list-header>
    <v-ons-list-item><v-ons-button @click="drop" modifier="large" :disabled="state!==2">Start</v-ons-button></v-ons-list-item>
    <v-ons-list-header>4. Gravitional acceleration is calculated.</v-ons-list-header>
    <v-ons-list-item v-show="state===3">
      <div class="center">9.76</div>
      <div class="right">m/s&sup2;</div>
    </v-ons-list-item>
    
  </v-ons-list>
  
</v-ons-page>
