<v-ons-page id="session">
  <v-ons-toolbar>
    <div class="left">
      <v-ons-toolbar-button @click="back">
        <v-ons-icon icon="ion-close"></v-ons-icon>
      </v-ons-toolbar-button>
    </div>
    <div class="center">実験中</div>
  </v-ons-toolbar>
  <v-ons-list>
    <v-ons-list-header>1. センサー間の距離を入力してください</v-ons-list-header>
    <v-ons-list-item><v-ons-input modifier="large" v-model="meter"></v-ons-input></v-ons-list-item>
    <v-ons-list-header>2. 電磁石をオンにしてください</v-ons-list-header>
    <v-ons-list-item><v-ons-button @click="turnOnMagnet" modifier="large" :disabled="state!==0">オンにする</v-ons-button></v-ons-list-item>
    <v-ons-list-header>3. 電磁石の溝に鉄球を付けてください</v-ons-list-header>
    <v-ons-list-item><v-ons-button @click="attached" modifier="large"  :disabled="state!==2">OK</v-ons-button></v-ons-list-item>
    <v-ons-list-header>4. 鉄球を落下させ時間を測定します</v-ons-list-header>
    <v-ons-list-item><v-ons-button @click="drop" modifier="large" :disabled="state!==3">スタート</v-ons-button></v-ons-list-item>
    <v-ons-list-header>5. 重力加速度の測定結果</v-ons-list-header>
    <v-ons-list-item v-show="result>0">
      <div class="center">{{result/100}}</div>
      <div class="right">m/s&sup2;</div>
    </v-ons-list-item>
    
  </v-ons-list>
  <v-ons-alert-dialog :visible="result>0">
    <span slot="title">おめでとうございます</span>
    <p>重力加速度が測定できました！</p>
    <div class="resWrap">
      <span class="result">{{result}}</span>
      <span class="meterpersecsec">m/s&sup2;</span>
    </div>
    <p>※実際の環境と異なるため値が異なる場合があります</p>
    <div slot="footer">
      <div class="alert-dialog-button" @click="other">もっとみる</div>
      <div class="alert-dialog-button" @click="back">終わる</div>
    </div>
  </v-ons-alert-dialog>
</v-ons-page>
