<v-ons-page id="tutorial">

  <v-ons-carousel fullscreen swipeable auto-scroll :index.sync="index">
    <v-ons-carousel-item v-for="item in items" :style="{backgroundColor: item.color}">
      <div class="carousel-content">
        <div class="img" v-if="item.img">
          <img alt="" :src="item.img"/>
        </div>
        <div class="title">{{item.title}}</div>
        <div class="text">{{item.text}}</div>
        <div class="buttons">
          <v-ons-button modifier="large" v-for="btn in item.buttons" @click="buttonClicked(btn)">{{btn.label}}</v-ons-button>
        </div>
      </div>
    </v-ons-carousel-item>
  </v-ons-carousel>

  <div class="dot">
    <div class="dots" v-for="dotIndex in items.length" :key="dotIndex" @click="index = dotIndex - 1" :class="{active: index === dotIndex - 1}">
    </div>
    </div>
</v-ons-page>
