$dotSize:15px;
$maxImgSize:250px;

#tutorial{
  .dot{
    text-align:center;
    color:#fff;
    position:absolute;
    width:100%;
    bottom:0;
    .dots{
      display:inline-block;
      width:$dotSize;
      height:$dotSize;
      border-radius:$dotSize/2;
      border:1px solid #fff;
      background-color:none;
      margin:2px;
      &.active{
        background-color:#fff;
      }
    }
  }
  ons-carousel-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carousel-content{
    color:#fff;
    width:90%;
    max-width:400px;
    text-align:center;
    .text{
      
    }
    .title{
      font-size:1.4em;
    }
    .img img{
      max-height:$maxImgSize;
      max-width:$maxImgSize;
    }
  }
  .skip{
    color:white;
    z-index:100;
  }
  .toolbar.toolbar--transparent.toolbar--cover-content+.page__background+.page__content{
    padding-top: 0px !important;
  }
}
#hello{
  text-align:center;
  .btnWrap{
    position: absolute;
    width:100%;
    bottom:0px;
    ons-button{
      display:block;
      margin:10px;
    }
  }
}

ons-alert-dialog{
  .resWrap{
    .result{
      font-size:4em;
    }
    .meterpersecsec{
      font-size:small;
    }
  }
}
